.about {
  max-width: 400px;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.comment-btn {
  float: right;
  width: 35px;
}

/* Comments */
.comment-card {
  text-align: left;
  margin-bottom: 20px;
}

.comment-form-item {
  background-color: #e9ecef;
}

.comment-title {
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
}

/* Featured movies */
.featured-card img {
  height: 18rem;
  object-fit: cover;
}

/* About page */
.micronaut-logo {
  /*animation: App-logo-spin infinite 10s linear;*/
  height: 80px;
}

/* Movies */
.movie-card {
  background: no-repeat center;
  background-size: cover;
  margin: 10px;
  min-height: 300px;
}

.movie-header {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: 100%;
}

.movie-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.replies-card {
  width: 90%;
  margin: 0 auto 20px;
}

.reply-item {
  background-color: #f9f9f9;
}

/* Members */
.member-card {
  width: 18rem;
  float: left;
  margin: 10px;
}

.member-card img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}
